@media (min-width: 380px) {
  .app__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content__spinner {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .app__main {
    flex-direction: row;
  }
}